body {
    font-family: 'EB Garamond';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #ffffff;
    color: #000000;
    font-size: 10px;
    font-family: 'EB Garamond';
    font-style:initial;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #beb7b7;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

main {
     /* Adjust this value based on the actual height of your header */
    box-sizing: border-box;
    background-color: #b6b6b6;
    max-width: 100%;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow for styling */
}

.promo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}

.promo-image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.promo-image {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: add some border radius for styling */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow for styling */
}

.promo-text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.promo-text a {
    color: #ffffff;
    text-decoration: none;
}

.promo-text a:hover {
    text-decoration: underline;
}
/* Ensure the sections have proper width and alignment */
section {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.sg{
    width: 80%;
    height: auto;
    border-radius: 10px; /* Optional: add some border radius for styling */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow for styling */
}

.contact-section {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow for styling */
    max-width: auto;
}

.contact-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-section p {
    font-size: 18px;
    margin: 5px 0;
}

.contact-section a {
    color: #0667c9;
    text-decoration: underline;
}

.contact-section a:hover {
    text-decoration: highlight;
}